.App {
    text-align: center;
}

  
.App-header, .App-section, .App-footer {
    background-color: #282c34;
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: 3px solid #000;
}

.App-section {
    background-color: #61dafb;
    color: #282c34;
    font-weight: 500;
}
